# ALERT Devices Go here
#	Each alert device has 6 attributes, seperated by commas
# 		Example: AlertDevice, Device Friendly Name, Mac Address, Alert Method, FQDN HTTP Endpoint, TTL
#			[0]: Friendly name of the device
#           [1]: Mac address of the device
#           [2]: Mode (indigo/http is currently only mode currently supported)
#           [3]: Fully qualified domain name of your Indigo variable (must already exist) 
#								that you want to update (e.g. http://192.168.1.100:8176/variables/variable_name)
#           [4]: TTL on the network before reporting off.  This helps reduce errors when a mobile device is reported off the network because 
#								it hasn't renewed the IP address, but in fact is in power saving mode

AlertDevice, My Phone, xx:xx:xx:xx:xx:xx, indigo/http, http://192.168.1.100:8176/variables/myCell_onNetwork, 5

# This is a list of whitelisted network devies.  As an extra piece of functionality, the device watcher provide notifications to
# you when a unknown device is on your network.  I have not yet implemented the alert functionality, though I plan to have the server
# simply send an email.
#
# Each white listed device goes on its own line, with two attributes, seperated by a comma
#	Example: WhiteListDevice, Device Friendly Name, Mac Addres
# 	NOTE: Any Alert Device is automatically added to the white list, so no need to add it again.

WhiteListDevice, My Macbook Pro, xx:xx:xx:xx:xx:xx
WhiteListDevice, My Desktop, xx:xx:xx:xx:xx:xx

# This is a critical configuration item, the Fing Netmask of the network you want to monitor.
# 	Example: Netmask, 192.168.1.1/24
#		This example will monitor your network if you are using 192.168.*.* IP Addresses
Netmask, 192.168.1.1/24

# NOTE: The indigo password cannot conntain a comma or a hash mark
Indigo_Password_Protect, false
Indigo_UserName, none
Indigo_Password, none

# Debugging to the console.  Only do this if you are prepared for a lot of verbose output
Debug, false

# How frequently devicescan.js will refresh the current status of Indigo variables, so that devicescan.js will not update when the value is already set appropriately.
Indigo_Scan_Interval, 5

# Many actions that devicescan.js performs is event based, however it will also occasionally scan scan through all the devices that Fing has reported, 
# and check if anything needs to be done (alert for a device that has expired on the network, refresh status, etc.).
# Recommended value is beween 1 and 3.  Value is in minutes.
Device_Scan_Interval, 1